# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.env
kiosco de fotos/
build_errors.txt
scripts/


# Ignorar temas locales muy pesados
public/themes/15 años
public/themes/quince
public/themes/tecno*
public/themes/boda
public/themes/infantil
public/themes/neon
